---
  consumer_key: <your consumer key>
  consumer_secret: 1
  access_token: 1
  access_token_secret: <retrieved access secret>
  sensor:
    device_uids:
        - 0000AAAAAAAAAAA
        - 0000BBBBBBBBBBB
